.header {
  height: 80px;
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
}

.header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  margin-left: 36px;
}
.header a:hover {
  color: orange;
}
.user-icon {
  color: black;
  font-size: 20px;
  margin-left: 15px;
  padding: 6px;
  border-radius: 100%;
  background-color: white;
}
